.map{
    background-color: #000; 
    h4{
        color: #80AB9E;
    }
    #million{
        color: #00E3A5;
    }
    #ikiyuz{
        color: #00E3A5;
    }
    #iyrimi{
        color: #00E3A5;
    }


    #happy{
        color:#9e9e9e;
    }
    #community{
        color:#9e9e9e;
    }
    #build{
        color:#9e9e9e;
    }  
}